#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-text {
  padding: 2em;
  padding-bottom: 1em;
  font-size: x-large;
  line-height: 2;
}
.card {
  padding: 2em;
  padding-top: 0;
  padding-left: 10em;
  font-size: large;
  margin: auto;
  width: 200px;
}

.twitter-share-button {
  display: block;
  margin-top: 1em;
  font-family: sans-serif;
}
